@font-face {
  font-family: 'Archia';
  font-weight: 300;
  font-display: swap;
  src: url(./fonts/Archia-Light.otf);
}

@font-face {
  font-family: 'Archia';
  font-weight: 700;
  font-display: swap;
  src: url(./fonts/Archia-Bold.otf);
}


* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
}

body {
  background-color: #000;
  padding: 80px;
}

h1 {
  font-family: 'Archia';
  font-weight: 300;
  font-size: 5vw;
  line-height: 1.4;
  max-width: 100%;
  margin-bottom: 40px;
}

a {
  font-size: inherit;
}

section {
  padding: 80px 0;
}

img {
  max-width: 100%;
}

/* Nav */

nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.logo {
  font-family: 'Archia';
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 4px;
  text-align: right;
  text-transform: uppercase;
  line-height: 32px;
  text-decoration: none;
}


/* Homepage */

.project-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 0px 80px;
  grid-template-areas: ". Right" ". Right" "Left Right" "Left Right" "Left ." "Left .";
}

.right {
  grid-area: Right;
}

.left {
  grid-area: Left;
}

.project-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-display>a{
  flex: 0 calc(50% - 40px);
}

.project-thumbnail {
  margin-bottom: 80px;
}

.project-thumbnail:first-child {
  visibility: hidden;
}

.project-thumbnail:nth-child(2n+1) {
  margin-top: calc(-0.75 * (50% - 40px));
}