@font-face {
  font-family: 'Inter UI';
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/Archia-Light.otf);
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  position: relative;
  margin: 0 auto;
  padding: 0 80px;
  min-height: calc(100vh + 100px);
  background: url('./img/crane.jpg') no-repeat;
  background-color: #F9ECEC;
  background-size: 500px 750px;
  background-position: right 120px top 160px;
}

h1, a {
  font-family: 'Inter UI';
  font-weight: 400;
  font-size: 20px;
  color: #242620;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-decoration: none;
}

h1 {
  line-height: 1.4;
}

nav {
  padding: 40px 0;
  margin-bottom: 80px;
  text-align: right;
}

nav a {
  padding: 16px 0 16px 32px;
  line-height: 40px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button {
  background: #FFA630;
  padding: 8px 12px 8px 16px;
  width: fit-content;
  align-self: flex-end;
}

.logo {
  width: 110vw;
  margin: 0 calc(-5vw - 80px);
  padding: 64px 0;
}


@media only screen and (max-width: 1024px) {

  /* Universal */

  body {
    padding: 0 40px;
  }

  .logo {
    margin: 0 calc(-5vw - 40px);
  }

}

@media only screen and (max-width: 768px) {

  /* Universal */

  body {
    padding: 0 16px;
    background-size: 80%;
    background-position: center top 160px;
  }

  .logo {
    width: 100vw;
    margin: 0 -16px;
  }

  nav {
    padding: 40px 0;
  }

  nav a {
    line-height: 24px;
    font-size: 12px;
}

}