/* BUILT OPEN */

.project-built-open {
  background: #F9ECEC center / 120% no-repeat fixed url("./img/homepage/bo_logo.png");
}

.built-open-image-hero {
  width: 40%;
  position: absolute;
  top: calc(160px + (clamp(16px, 2vw, 32px)));
  right: 80px;
}

.built-open-image-1 {
  background: center / cover fixed url(./img/projects/built-open/image-1.jpg);
}

.built-open-image-2 {
  background: top 15vw left 25% / 25% no-repeat fixed url("./img/projects/built-open/image-2-phone.png"), bottom 15vw right 25% / 25% no-repeat fixed url("./img/projects/built-open/image-2-phone.png"), center / cover no-repeat fixed url("./img/projects/built-open/image-2-bg.jpg");
}

.built-open-image-3 {
  background: center / cover fixed url(./img/projects/built-open/image-3.jpg);
}

/* THE PASS */

.project-the-pass {
  background: #F9F4E6 center / cover no-repeat fixed url("./img/projects/the-pass/hero-background.jpg");
}

.the-pass-image-1 {
  background: center / cover fixed url(./img/projects/the-pass/image-1.jpg);
}

.the-pass-image-2 {
  background: center / cover fixed url(./img/projects/the-pass/image-2.jpg);
}

.the-pass-image-3 {
  background: center / cover fixed url(./img/projects/the-pass/image-3.jpg);
}

.the-pass-image-4 {
  background: center / cover fixed url(./img/projects/the-pass/image-4.jpg);
}

/* CODERS OF COLOUR */

.project-coders {
  background:  center / cover no-repeat fixed url("./img/homepage/coders.jpg");
}

.coders-image-1 {
  background: center / cover fixed url(./img/projects/coders/image-1.jpg);
}

.coders-image-2 {
  background: center / cover fixed url(./img/projects/coders/image-2.jpg);
}

.coders-image-3 {
  background: center / cover fixed url(./img/projects/coders/image-3.jpg);
}

/* TEMBO */

.project-tembo {
  background: top 160px right 160px / contain no-repeat fixed url("./img/homepage/tembo_image.png"), #13123A top right / 50% no-repeat url("./img/homepage/tembo_gradient.png");
}

.tembo-image-1 {
  background: center / cover fixed url(./img/projects/tembo/image-1.jpg);
}

.tembo-image-2 {
  background: center / cover fixed url(./img/projects/tembo/image-2.jpg);
}

.tembo-image-3 {
  background: center / cover fixed url(./img/projects/tembo/image-3.jpg);
}


/* MEDIA QUERIES */

@media only screen and (max-width: 640px) {

  /* BUILT OPEN */

  .built-open-image-hero {
    width: 80%;
    right: 10%;
  }

  .built-open-image-2 {
    background: center / 80% no-repeat fixed url("./img/projects/built-open/image-2-phone.png"), center / cover no-repeat fixed url("./img/projects/built-open/image-2-bg.jpg");
  }

  .project-tembo {
    background: top 80px right 40% / 80% no-repeat fixed url("./img/homepage/tembo_image.png"), #13123A top right / 50% no-repeat url("./img/homepage/tembo_gradient.png");
  }


}